<link rel="stylesheet" href="/css/header.css" />



<div id="header-container">
	<h1 id="main-heading">Employee Review System</h1>
<% if(user){ %>
<a id="logout-button" href="/employee/logout">Logout</a>
<%}%>
</div>
