<link rel="stylesheet" href="/css/sign-in-up.css" />

<div id="sign-in-container">
	<div class="sign-in ">Sign In</div>
	<div class="form-div ">
		<form id="log-in-form" class="row justify-content-center" action="/employee/login" method="POST">
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input type="submit" value="Login"/>
		</form>
		<a id="goToRegister" href="/sign-up">Don't have an account?</a>

	</div>
</div>

<script type="text/javascript" src="/js/home.js"></script>
