
<!-- <script type="text/javascript" src="/js/home.js"></script> -->
<link rel="stylesheet" href="/css/sign-in-up.css" />

<div id="sign-up-container">
	<div class="sign-up ">Create Account</div>
	<div class="form-div ">
		<form id="new-user-form" class="row justify-content-center" action="/employee/create-employee" method="POST">
			<input type="text" name="name" placeholder="Name" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input type="submit" value="Create Account"/>
		</form>
		<a id="goToLogin" href="/sign-in">Already have a account?</a>
	</div>
	
</div>

<script type="text/javascript" src="/js/home.js"></script>
